h1{ 
color: #A950A1;
}

.block {
    background-color: #505488;
    height: 40px;
    
}

* {
    margin: 0px;
    padding: 0px
    box-sizing: border-box;
    font-family: Sans-serif;
}


body {
    background-image: linear-gradient(135deg,#00B7E4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation: fondoanimado 25s infinite;
}

.texto {
    color: white;
    text-align: center;
    margin: 150px 0;
    font-size: 28px;
   
}

@keyframes fondoanimado {
    0%{
	background-position: 0% 50%;
    }
    50%{
	background-position: 100% 50%;
    }
    100%{
	background-position: 0% 50%;
    }
} 
